#Simple way to include all the various klicky macros and configurations
# the current home for this configuration is https://github.com/jlas1/Klicky-Probe, please check it

#[include ./klicky-specific.cfg]                #place to put other configurations specific to your printer
[include ./klicky-variables.cfg]                #Required
[include ./klicky-macros.cfg]                   #Required
[include ./klicky-bed-mesh-calibrate.cfg]      #bed mesh, requires klipper configuration
[include ./klicky-quad-gantry-level.cfg]       #level 4 Z motors
[include ./klicky-z-calibration.cfg]

[probe]
##  Klicky Probe - Since this is just an endstop switch its wired up to one of the endstop ports
## For the DIAG_7 port.  Change to !PG15 if probe is NO.
pin: EBBCan: PC13
x_offset: 0
y_offset: 26.0
z_offset: 0.0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.0075
samples_tolerance_retries: 5
SAMPLES_IGNORE: 1